In [53]:
#Librerias

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
import a_funciones as funciones
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from sklearn import metrics

### Lectura de datos para modelado

In [54]:
df_models = pd.read_csv('data//df_employees_models.csv')
df_models.head()

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,...,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,retirementType,resignationReason,Attrition
0,1,2015,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,0,6,0,3,4,2,3,Not Applicable,Not Applicable,0
1,1,2016,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,0,6,0,3,4,2,3,Not Applicable,Not Applicable,0
2,2,2015,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Single,...,1,3,1,3,2,4,2,Resignation,Others,1
3,3,2015,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,...,3,2,0,2,2,1,3,Not Applicable,Not Applicable,0
4,3,2016,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,...,3,2,0,2,2,1,3,Not Applicable,Not Applicable,0

In [55]:
df_models = df_models.sort_values(by='Year')

In [56]:
# Eliminación
df_models.drop('retirementType', axis=1, inplace=True)
df_models.drop('resignationReason', axis=1, inplace=True)

In [57]:
df_models

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,...,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,Attrition
0,1,2015,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,1,11,0,6,0,3,4,2,3,0
4612,2513,2015,34,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,...,1,14,0,5,4,2,3,3,2,0
4610,2512,2015,40,Travel_Rarely,Sales,27,2,Medical,3,Divorced,...,4,18,0,3,0,3,4,3,3,0
4609,2511,2015,46,Travel_Rarely,Research & Development,10,3,Medical,1,Married,...,4,11,1,2,3,4,2,4,3,1
4608,2510,2015,26,Travel_Rarely,Human Resources,2,1,Technical Degree,3,Married,...,0,15,2,3,1,4,2,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,713,2016,27,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,...,8,18,0,2,0,3,4,3,3,0
5713,3106,2016,30,Non-Travel,Research & Development,2,4,Life Sciences,3,Married,...,0,15,1,2,7,3,1,3,3,0
3570,1942,2016,35,Travel_Rarely,Research & Development,6,4,Medical,1,Divorced,...,1,19,2,3,10,3,3,2,3,0
1302,712,2016,48,Travel_Rarely,Research & Development,2,1,Life Sciences,2,Single,...,1,20,0,2,0,4,4,3,2,0
8819,8405,2016,31,Travel_Rarely,Research & Development,2,3,Life Sciences,3,Married,...,0,14,1,2,0,4,1,3,3,0

In [58]:
df_models.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8820 entries, 0 to 8819
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               8820 non-null   int64
 1   Year                     8820 non-null   int64
 2   Age                      8820 non-null   int64
 3   BusinessTravel           8820 non-null   object
 4   Department               8820 non-null   object
 5   DistanceFromHome         8820 non-null   int64
 6   Education                8820 non-null   int64
 7   EducationField           8820 non-null   object
 8   JobLevel                 8820 non-null   int64
 9   MaritalStatus            8820 non-null   object
 10  MonthlyIncome            8820 non-null   int64
 11  NumCompaniesWorked       8820 non-null   int64
 12  PercentSalaryHike        8820 non-null   int64
 13  StockOptionLevel         8820 non-null   int64
 14  TrainingTimesLastYear    8820 non-null   int64
 15  YearsSinceLastPromotion  8820 non-null   int64
 16  EnvironmentSatisfaction  8820 non-null   int64
 17  JobSatisfaction          8820 non-null   int64
 18  WorkLifeBalance          8820 non-null   int64
 19  JobInvolvement           8820 non-null   int64
 20  Attrition                8820 non-null   int64
dtypes: int64(17), object(4)
memory usage: 1.5+ MB

In [59]:
# Separación de variables categoricas
list_cat=['BusinessTravel','Department','EducationField','MaritalStatus']

In [60]:
y_train = df_models[df_models['Year']==2015]['Attrition']
X_train = df_models[df_models['Year']==2015].drop('Attrition', axis=1)

In [61]:
y_train

0       0
4612    0
4610    0
4609    1
4608    1
       ..
2384    0
2778    0
2619    0
2409    0
2773    1
Name: Attrition, Length: 4410, dtype: int64

In [62]:
X_train.head()

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement
0,1,2015,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,131160,1,11,0,6,0,3,4,2,3
4612,2513,2015,34,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,53430,1,14,0,5,4,2,3,3,2
4610,2512,2015,40,Travel_Rarely,Sales,27,2,Medical,3,Divorced,102740,4,18,0,3,0,3,4,3,3
4609,2511,2015,46,Travel_Rarely,Research & Development,10,3,Medical,1,Married,44220,4,11,1,2,3,4,2,4,3
4608,2510,2015,26,Travel_Rarely,Human Resources,2,1,Technical Degree,3,Married,65780,0,15,2,3,1,4,2,3,2

In [63]:
X_test = df_models[df_models['Year']==2016].drop('Attrition', axis=1)

In [64]:
X_test

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement
7276,3960,2016,46,Travel_Rarely,Sales,3,4,Marketing,1,Divorced,42720,7,13,0,3,2,3,4,3,4
448,243,2016,32,Travel_Rarely,Research & Development,1,1,Life Sciences,1,Married,30220,1,16,1,3,0,1,4,2,3
309,167,2016,57,Travel_Rarely,Research & Development,2,2,Life Sciences,4,Divorced,63060,3,12,1,3,0,1,4,2,3
7260,3951,2016,53,Non-Travel,Research & Development,10,4,Medical,2,Married,20700,4,13,2,2,0,1,3,2,4
3101,1686,2016,49,Travel_Rarely,Sales,21,1,Life Sciences,1,Divorced,40110,1,18,2,2,0,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,713,2016,27,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,48510,8,18,0,2,0,3,4,3,3
5713,3106,2016,30,Non-Travel,Research & Development,2,4,Life Sciences,3,Married,51310,0,15,1,2,7,3,1,3,3
3570,1942,2016,35,Travel_Rarely,Research & Development,6,4,Medical,1,Divorced,119960,1,19,2,3,10,3,3,2,3
1302,712,2016,48,Travel_Rarely,Research & Development,2,1,Life Sciences,2,Single,28190,1,20,0,2,0,4,4,3,2
8819,8405,2016,31,Travel_Rarely,Research & Development,2,3,Life Sciences,3,Married,21680,0,14,1,2,0,4,1,3,3

In [65]:
# Eliminación de la columna 'Year' dado que ya se realizó la separación
X_train.drop('Year', axis=1, inplace=True)
X_test.drop('Year', axis=1, inplace=True)

In [66]:
X_train

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement
0,1,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,131160,1,11,0,6,0,3,4,2,3
4612,2513,34,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,53430,1,14,0,5,4,2,3,3,2
4610,2512,40,Travel_Rarely,Sales,27,2,Medical,3,Divorced,102740,4,18,0,3,0,3,4,3,3
4609,2511,46,Travel_Rarely,Research & Development,10,3,Medical,1,Married,44220,4,11,1,2,3,4,2,4,3
4608,2510,26,Travel_Rarely,Human Resources,2,1,Technical Degree,3,Married,65780,0,15,2,3,1,4,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2384,1298,56,Travel_Rarely,Human Resources,2,1,Medical,2,Single,26440,4,11,1,2,0,4,4,2,3
2778,1512,51,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Divorced,56750,5,13,0,2,1,4,2,3,2
2619,1425,27,Travel_Frequently,Research & Development,18,2,Medical,1,Single,65160,1,19,1,4,0,4,3,3,3
2409,1311,58,Travel_Rarely,Research & Development,8,4,Life Sciences,2,Single,29720,0,14,0,2,1,4,3,2,4
2773,1509,18,Travel_Rarely,Research & Development,1,4,Life Sciences,1,Single,23350,1,14,2,3,0,3,3,3,2

In [67]:
# Formato dummies de train (2015)
X_train_dummies = pd.get_dummies(X_train, columns=list_cat, drop_first=True)

In [68]:
X_train_dummies

,EmployeeID,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,...,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,MaritalStatus_Single
0,1,51,6,2,1,131160,1,11,0,6,...,True,False,True,True,False,False,False,False,True,False
4612,2513,34,2,3,2,53430,1,14,0,5,...,True,True,False,True,False,False,False,False,True,False
4610,2512,40,27,2,3,102740,4,18,0,3,...,True,False,True,False,False,True,False,False,False,False
4609,2511,46,10,3,1,44220,4,11,1,2,...,True,True,False,False,False,True,False,False,True,False
4608,2510,26,2,1,3,65780,0,15,2,3,...,True,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2384,1298,56,2,1,2,26440,4,11,1,2,...,True,False,False,False,False,True,False,False,False,True
2778,1512,51,2,3,2,56750,5,13,0,2,...,True,True,False,True,False,False,False,False,False,False
2619,1425,27,18,2,1,65160,1,19,1,4,...,False,True,False,False,False,True,False,False,False,True
2409,1311,58,8,4,2,29720,0,14,0,2,...,True,True,False,True,False,False,False,False,False,True
2773,1509,18,1,4,1,23350,1,14,2,3,...,True,True,False,True,False,False,False,False,False,True

In [69]:
# Convertir False a 0 y True a 1
X_train_dummies = X_train_dummies.replace({True: 1, False: 0})

In [70]:
X_train_dummies.head()

,EmployeeID,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,...,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,MaritalStatus_Single
0,1,51,6,2,1,131160,1,11,0,6,...,1,0,1,1,0,0,0,0,1,0
4612,2513,34,2,3,2,53430,1,14,0,5,...,1,1,0,1,0,0,0,0,1,0
4610,2512,40,27,2,3,102740,4,18,0,3,...,1,0,1,0,0,1,0,0,0,0
4609,2511,46,10,3,1,44220,4,11,1,2,...,1,1,0,0,0,1,0,0,1,0
4608,2510,26,2,1,3,65780,0,15,2,3,...,1,0,0,0,0,0,0,1,1,0

In [71]:
X1= X_train_dummies.loc[:,~X_train_dummies.columns.isin(['EmployeeID'])]

In [72]:
# Escalado de datos de train (2015)
scaler=StandardScaler()
scaler.fit(X1)
X_std=scaler.transform(X1)
X_train_std=pd.DataFrame(X_std,columns=X1.columns)
X_train_std

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,...,BusinessTravel_Travel_Rarely,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,MaritalStatus_Single
0,1.5414,-0.3939,-0.8917,-0.9615,1.4051,-0.6785,-1.1506,-0.9320,2.4834,-0.6791,...,0.6398,-1.3741,1.5152,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,-0.6856
1,-0.3202,-0.8875,0.0850,-0.0578,-0.2465,-0.6785,-0.3306,-0.9320,1.7075,0.5626,...,0.6398,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,-0.6856
2,0.3368,2.1973,-0.8917,0.8459,0.8013,0.5246,0.7627,-0.9320,0.1557,-0.6791,...,0.6398,-1.3741,1.5152,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,-0.6856
3,0.9939,0.0996,0.0850,-0.9615,-0.4422,0.5246,-1.1506,0.2420,-0.6202,0.2521,...,0.6398,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,1.0882,-0.6856
4,-1.1962,-0.8875,-1.8684,0.8459,0.0160,-1.0795,-0.0573,1.4160,0.1557,-0.3687,...,0.6398,-1.3741,-0.6600,-0.8375,-0.3483,-0.6791,-0.2431,3.1838,1.0882,-0.6856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,2.0889,-0.8875,-1.8684,-0.0578,-0.8199,0.5246,-1.1506,0.2420,-0.6202,-0.6791,...,0.6398,-1.3741,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,1.4586
4406,1.5414,-0.8875,0.0850,-0.0578,-0.1759,0.9256,-0.6039,-0.9320,-0.6202,-0.3687,...,0.6398,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,-0.9189,-0.6856
4407,-1.0867,1.0868,-0.8917,-0.9615,0.0028,-0.6785,1.0360,0.2420,0.9316,-0.6791,...,-1.5629,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,1.4586
4408,2.3079,-0.1471,1.0618,-0.0578,-0.7502,-1.0795,-0.3306,-0.9320,-0.6202,-0.3687,...,0.6398,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,-0.9189,1.4586
4409,-2.0722,-1.0109,1.0618,-0.9615,-0.8856,-0.6785,-0.3306,1.4160,0.1557,-0.6791,...,0.6398,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,-0.9189,1.4586

In [73]:
mcla = LogisticRegression()
mdtc= DecisionTreeClassifier()
mrfc= RandomForestClassifier()
mgbc=GradientBoostingClassifier()
modelos= [mcla, mdtc, mrfc, mgbc]
var_names=funciones.sel_variables(modelos, X_train_std, y_train, threshold=0.07)
var_names.shape

(22,)

In [74]:
X2=X_train_std[var_names] ### matriz con variables seleccionadas
X2.info()
X_train_std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   float64
 1   BusinessTravel_Travel_Frequently   4410 non-null   float64
 2   BusinessTravel_Travel_Rarely       4410 non-null   float64
 3   Department_Research & Development  4410 non-null   float64
 4   Department_Sales                   4410 non-null   float64
 5   DistanceFromHome                   4410 non-null   float64
 6   Education                          4410 non-null   float64
 7   EducationField_Life Sciences       4410 non-null   float64
 8   EducationField_Marketing           4410 non-null   float64
 9   EducationField_Medical             4410 non-null   float64
 10  EducationField_Other               4410 non-null   float64
 11  EducationField_Technical Degree    4410 non-null   float64
 12  EnvironmentSatisfaction            4410 non-null   float64
 13  JobSatisfaction                    4410 non-null   float64
 14  MaritalStatus_Married              4410 non-null   float64
 15  MaritalStatus_Single               4410 non-null   float64
 16  MonthlyIncome                      4410 non-null   float64
 17  NumCompaniesWorked                 4410 non-null   float64
 18  PercentSalaryHike                  4410 non-null   float64
 19  TrainingTimesLastYear              4410 non-null   float64
 20  WorkLifeBalance                    4410 non-null   float64
 21  YearsSinceLastPromotion            4410 non-null   float64
dtypes: float64(22)
memory usage: 758.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   float64
 1   DistanceFromHome                   4410 non-null   float64
 2   Education                          4410 non-null   float64
 3   JobLevel                           4410 non-null   float64
 4   MonthlyIncome                      4410 non-null   float64
 5   NumCompaniesWorked                 4410 non-null   float64
 6   PercentSalaryHike                  4410 non-null   float64
 7   StockOptionLevel                   4410 non-null   float64
 8   TrainingTimesLastYear              4410 non-null   float64
 9   YearsSinceLastPromotion            4410 non-null   float64
 10  EnvironmentSatisfaction            4410 non-null   float64
 11  JobSatisfaction                    4410 non-null   float64
 12  WorkLifeBalance                    4410 non-null   float64
 13  JobInvolvement                     4410 non-null   float64
 14  BusinessTravel_Travel_Frequently   4410 non-null   float64
 15  BusinessTravel_Travel_Rarely       4410 non-null   float64
 16  Department_Research & Development  4410 non-null   float64
 17  Department_Sales                   4410 non-null   float64
 18  EducationField_Life Sciences       4410 non-null   float64
 19  EducationField_Marketing           4410 non-null   float64
 20  EducationField_Medical             4410 non-null   float64
 21  EducationField_Other               4410 non-null   float64
 22  EducationField_Technical Degree    4410 non-null   float64
 23  MaritalStatus_Married              4410 non-null   float64
 24  MaritalStatus_Single               4410 non-null   float64
dtypes: float64(25)
memory usage: 861.5 KB

In [75]:
accuracy_df_original=funciones.medir_modelos(modelos,"accuracy",X_train_std,y_train,4) ## base con todas las variables 
accuracy_varsel=funciones.medir_modelos(modelos,"accuracy",X2,y_train,4) ### base con variables seleccionadas

In [76]:
pd.set_option('display.float_format', lambda x: '%.4f' % x)
accuracy=pd.concat([accuracy_df_original,accuracy_varsel],axis=1)
accuracy.columns=['rl', 'dt', 'rf', 'gb',
       'rl_Sel', 'dt_sel', 'rf_sel', 'gb_Sel']
accuracy

      rl     dt     rf     gb  rl_Sel  dt_sel  rf_sel  gb_Sel
0 0.8622 0.9438 0.9556 0.8858  0.8622  0.9429  0.9592  0.8885
1 0.8568 0.9411 0.9447 0.8840  0.8577  0.9402  0.9447  0.8821
2 0.8557 0.9828 0.9891 0.8884  0.8557  0.9828  0.9882  0.8857
3 0.8612 0.9601 0.9664 0.8902  0.8612  0.9610  0.9673  0.8829

In [41]:
# Select from model con Lasso (alpha = 0.0005)

# Selector de variables con Lasso
sel_ = SelectFromModel(Lasso(alpha=0.000000001)) #max_features=40)
sel_.fit(X_train_std, y_train)
print(sel_.estimator_.coef_)

#Obtener variables seleccionadas
X_new_class = sel_.get_support()

X_train_std_1 = X_train_std.iloc[:,X_new_class]
X_train_std_1

[ 7.62726189e-06 -1.19436227e-05  6.71059321e-06  3.46519865e-06
 -2.11987762e-06  3.01123365e-06  1.87233969e-06  1.67158619e-07
  3.40876123e-06  4.07323669e-06 -4.11977569e-06  3.79524788e-06
 -4.97170848e-06  5.85994423e-06  4.55300554e-06 -7.93168064e-06
  3.63996110e-04  3.66524593e-04 -1.03183440e-03 -6.62450474e-04
 -9.58841610e-04 -4.71707678e-04 -5.88066684e-04  1.06004246e-05
  6.65127676e-06 -3.54477762e-01  5.92540041e-06  3.46827703e-06
 -2.96095484e-06 -1.49683796e-06]

,DistanceFromHome,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,retirementType_Not Applicable
0,-0.3939,-1.3741,1.5152,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,0.4158
1,0.0996,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,-0.9189,-2.4051
2,0.9634,0.7278,-0.6600,-0.8375,-0.3483,-0.6791,4.1142,-0.3141,1.0882,0.4158
3,-0.8875,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,0.4158
4,0.0996,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
...,...,...,...,...,...,...,...,...,...,...
4405,-0.5173,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
4406,-0.8875,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
4407,1.9506,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,0.4158
4408,1.0868,-1.3741,1.5152,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
4409,2.3207,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158

In [51]:
names=sel_.feature_names_in_
coef=sel_.estimator_.coef_

df=pd.DataFrame(names)
df['coef']=coef

df.sort_values(by='coef', ascending=False)

                                    0    coef
17                   Department_Sales  0.0004
16  Department_Research & Development  0.0004
23              MaritalStatus_Married  0.0000
0                                 Age  0.0000
2                           Education  0.0000
24               MaritalStatus_Single  0.0000
26         retirementType_Resignation  0.0000
13                     JobInvolvement  0.0000
14   BusinessTravel_Travel_Frequently  0.0000
9             YearsSinceLastPromotion  0.0000
11                    JobSatisfaction  0.0000
27           resignationReason_Others  0.0000
3                            JobLevel  0.0000
8               TrainingTimesLastYear  0.0000
5                  NumCompaniesWorked  0.0000
6                   PercentSalaryHike  0.0000
7                    StockOptionLevel  0.0000
29           resignationReason_Stress -0.0000
4                       MonthlyIncome -0.0000
28           resignationReason_Salary -0.0000
10            EnvironmentSatisfaction -0.0000
12                    WorkLifeBalance -0.0000
15       BusinessTravel_Travel_Rarely -0.0000
1                    DistanceFromHome -0.0000
21               EducationField_Other -0.0005
22    EducationField_Technical Degree -0.0006
19           EducationField_Marketing -0.0007
20             EducationField_Medical -0.0010
18       EducationField_Life Sciences -0.0010
25      retirementType_Not Applicable -0.3545

In [35]:
# Ajustar el modelo a los datos
mcla.fit(X_train_std_1, y_train)

LogisticRegression()

In [36]:
print ("Train - Accuracy :", metrics.accuracy_score(y_train, mcla.predict(X_train_std_1)))
print ("Train - classification report:\n", metrics.classification_report(y_train, mcla.predict(X_train_std_1)))

Train - Accuracy : 1.0
Train - classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3760
           1       1.00      1.00      1.00       650

    accuracy                           1.00      4410
   macro avg       1.00      1.00      1.00      4410
weighted avg       1.00      1.00      1.00      4410