In [32]:
#Librerias

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
import a_funciones as funciones
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from sklearn import metrics

### Lectura de datos para modelado

In [2]:
df_models = pd.read_csv('data//df_employees_models.csv')
df_models.head()

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,...,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,retirementType,resignationReason,Attrition
0,1,2015,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,0,6,0,3,4,2,3,Not Applicable,Not Applicable,0
1,1,2016,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,0,6,0,3,4,2,3,Not Applicable,Not Applicable,0
2,2,2015,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Single,...,1,3,1,3,2,4,2,Resignation,Others,1
3,3,2015,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,...,3,2,0,2,2,1,3,Not Applicable,Not Applicable,0
4,3,2016,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,...,3,2,0,2,2,1,3,Not Applicable,Not Applicable,0

In [18]:
df_models = df_models.sort_values(by='Year')

In [19]:
df_models

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,...,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,retirementType,resignationReason,Attrition
0,1,2015,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,0,6,0,3,4,2,3,Not Applicable,Not Applicable,0
4612,2513,2015,34,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,...,0,5,4,2,3,3,2,Not Applicable,Not Applicable,0
4610,2512,2015,40,Travel_Rarely,Sales,27,2,Medical,3,Divorced,...,0,3,0,3,4,3,3,Not Applicable,Not Applicable,0
4609,2511,2015,46,Travel_Rarely,Research & Development,10,3,Medical,1,Married,...,1,2,3,4,2,4,3,Resignation,Salary,1
4608,2510,2015,26,Travel_Rarely,Human Resources,2,1,Technical Degree,3,Married,...,2,3,1,4,2,3,2,Resignation,Salary,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,713,2016,27,Travel_Rarely,Research & Development,2,3,Life Sciences,2,Married,...,0,2,0,3,4,3,3,Not Applicable,Not Applicable,0
5713,3106,2016,30,Non-Travel,Research & Development,2,4,Life Sciences,3,Married,...,1,2,7,3,1,3,3,Not Applicable,Not Applicable,0
3570,1942,2016,35,Travel_Rarely,Research & Development,6,4,Medical,1,Divorced,...,2,3,10,3,3,2,3,Not Applicable,Not Applicable,0
1302,712,2016,48,Travel_Rarely,Research & Development,2,1,Life Sciences,2,Single,...,0,2,0,4,4,3,2,Not Applicable,Not Applicable,0
8819,8405,2016,31,Travel_Rarely,Research & Development,2,3,Life Sciences,3,Married,...,1,2,0,4,1,3,3,Not Applicable,Not Applicable,0

In [20]:
df_models.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8820 entries, 0 to 8819
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               8820 non-null   int64
 1   Year                     8820 non-null   int64
 2   Age                      8820 non-null   int64
 3   BusinessTravel           8820 non-null   object
 4   Department               8820 non-null   object
 5   DistanceFromHome         8820 non-null   int64
 6   Education                8820 non-null   int64
 7   EducationField           8820 non-null   object
 8   JobLevel                 8820 non-null   int64
 9   MaritalStatus            8820 non-null   object
 10  MonthlyIncome            8820 non-null   int64
 11  NumCompaniesWorked       8820 non-null   int64
 12  PercentSalaryHike        8820 non-null   int64
 13  StockOptionLevel         8820 non-null   int64
 14  TrainingTimesLastYear    8820 non-null   int64
 15  YearsSinceLastPromotion  8820 non-null   int64
 16  EnvironmentSatisfaction  8820 non-null   int64
 17  JobSatisfaction          8820 non-null   int64
 18  WorkLifeBalance          8820 non-null   int64
 19  JobInvolvement           8820 non-null   int64
 20  retirementType           8820 non-null   object
 21  resignationReason        8820 non-null   object
 22  Attrition                8820 non-null   int64
dtypes: int64(17), object(6)
memory usage: 1.6+ MB

In [3]:
# SeparaciÃ³n de variables categoricas
list_cat=['BusinessTravel','Department','EducationField','MaritalStatus','retirementType', 'resignationReason']

In [4]:
y_train = df_models[df_models['Year']==2015]['Attrition']
X_train = df_models[df_models['Year']==2015].drop('Attrition', axis=1)

In [5]:
y_train

0       0
2       1
3       0
5       0
7       0
       ..
8160    0
8162    0
8164    0
8166    0
8168    0
Name: Attrition, Length: 4410, dtype: int64

In [6]:
X_train.head()

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,...,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,retirementType,resignationReason
0,1,2015,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,11,0,6,0,3,4,2,3,Not Applicable,Not Applicable
2,2,2015,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Single,...,23,1,3,1,3,2,4,2,Resignation,Others
3,3,2015,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,...,15,3,2,0,2,2,1,3,Not Applicable,Not Applicable
5,4,2015,38,Non-Travel,Research & Development,2,5,Life Sciences,3,Married,...,11,3,5,7,4,4,3,2,Not Applicable,Not Applicable
7,5,2015,32,Travel_Rarely,Research & Development,10,1,Medical,1,Single,...,12,2,2,0,4,1,3,3,Not Applicable,Not Applicable

In [7]:
X_test = df_models[df_models['Year']==2016].drop('Attrition', axis=1)

In [8]:
X_test

,EmployeeID,Year,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,...,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,retirementType,resignationReason
1,1,2016,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,...,11,0,6,0,3,4,2,3,Not Applicable,Not Applicable
4,3,2016,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,...,15,3,2,0,2,2,1,3,Not Applicable,Not Applicable
6,4,2016,38,Non-Travel,Research & Development,2,5,Life Sciences,3,Married,...,11,3,5,7,4,4,3,2,Not Applicable,Not Applicable
8,5,2016,32,Travel_Rarely,Research & Development,10,1,Medical,1,Single,...,12,2,2,0,4,1,3,3,Not Applicable,Not Applicable
10,6,2016,46,Travel_Rarely,Research & Development,8,3,Life Sciences,4,Married,...,13,0,5,7,3,2,2,3,Not Applicable,Not Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8815,8383,2016,34,Travel_Frequently,Research & Development,2,1,Life Sciences,1,Married,...,23,2,2,0,4,1,2,4,Not Applicable,Not Applicable
8816,8384,2016,37,Travel_Rarely,Research & Development,24,3,Life Sciences,1,Single,...,11,1,5,0,4,1,1,3,Not Applicable,Not Applicable
8817,8390,2016,26,Travel_Rarely,Human Resources,2,1,Technical Degree,3,Married,...,15,2,3,1,4,2,3,2,Not Applicable,Not Applicable
8818,8391,2016,46,Travel_Rarely,Research & Development,10,3,Medical,1,Married,...,11,1,2,3,4,2,4,3,Not Applicable,Not Applicable
8819,8405,2016,31,Travel_Rarely,Research & Development,2,3,Life Sciences,3,Married,...,14,1,2,0,4,1,3,3,Not Applicable,Not Applicable

In [9]:
# EliminaciÃ³n de la columna 'Year' dado que ya se realizÃ³ la separaciÃ³n
X_train.drop('Year', axis=1, inplace=True)
X_test.drop('Year', axis=1, inplace=True)

In [10]:
X_train

,EmployeeID,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,MaritalStatus,MonthlyIncome,...,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,retirementType,resignationReason
0,1,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Married,131160,...,11,0,6,0,3,4,2,3,Not Applicable,Not Applicable
2,2,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Single,41890,...,23,1,3,1,3,2,4,2,Resignation,Others
3,3,32,Travel_Frequently,Research & Development,17,4,Other,4,Married,193280,...,15,3,2,0,2,2,1,3,Not Applicable,Not Applicable
5,4,38,Non-Travel,Research & Development,2,5,Life Sciences,3,Married,83210,...,11,3,5,7,4,4,3,2,Not Applicable,Not Applicable
7,5,32,Travel_Rarely,Research & Development,10,1,Medical,1,Single,23420,...,12,2,2,0,4,1,3,3,Not Applicable,Not Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8160,4406,42,Travel_Rarely,Research & Development,5,4,Medical,1,Single,60290,...,17,1,5,0,4,1,3,3,Not Applicable,Not Applicable
8162,4407,29,Travel_Rarely,Research & Development,2,4,Medical,1,Divorced,26790,...,15,0,2,0,4,4,3,2,Not Applicable,Not Applicable
8164,4408,25,Travel_Rarely,Research & Development,25,2,Life Sciences,2,Married,37020,...,20,0,4,1,1,3,3,3,Not Applicable,Not Applicable
8166,4409,42,Travel_Rarely,Sales,18,2,Medical,1,Divorced,23980,...,14,1,2,7,4,1,3,2,Not Applicable,Not Applicable
8168,4410,40,Travel_Rarely,Research & Development,28,3,Medical,2,Divorced,54680,...,12,0,6,3,1,3,3,4,Not Applicable,Not Applicable

In [11]:
# Formato dummies de train (2015)
X_train_dummies = pd.get_dummies(X_train, columns=list_cat, drop_first=True)

In [12]:
X_train_dummies

,EmployeeID,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,...,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,MaritalStatus_Single,retirementType_Not Applicable,retirementType_Resignation,resignationReason_Others,resignationReason_Salary,resignationReason_Stress
0,1,51,6,2,1,131160,1,11,0,6,...,False,False,False,True,False,True,False,False,False,False
2,2,31,10,1,1,41890,0,23,1,3,...,False,False,False,False,True,False,True,True,False,False
3,3,32,17,4,4,193280,1,15,3,2,...,False,True,False,True,False,True,False,False,False,False
5,4,38,2,5,3,83210,3,11,3,5,...,False,False,False,True,False,True,False,False,False,False
7,5,32,10,1,1,23420,4,12,2,2,...,True,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8160,4406,42,5,4,1,60290,3,17,1,5,...,True,False,False,False,True,True,False,False,False,False
8162,4407,29,2,4,1,26790,2,15,0,2,...,True,False,False,False,False,True,False,False,False,False
8164,4408,25,25,2,2,37020,0,20,0,4,...,False,False,False,True,False,True,False,False,False,False
8166,4409,42,18,2,1,23980,0,14,1,2,...,True,False,False,False,False,True,False,False,False,False
8168,4410,40,28,3,2,54680,0,12,0,6,...,True,False,False,False,False,True,False,False,False,False

In [13]:
# Convertir False a 0 y True a 1
X_train_dummies = X_train_dummies.replace({True: 1, False: 0})

In [14]:
X_train_dummies.head()

,EmployeeID,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,...,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,MaritalStatus_Single,retirementType_Not Applicable,retirementType_Resignation,resignationReason_Others,resignationReason_Salary,resignationReason_Stress
0,1,51,6,2,1,131160,1,11,0,6,...,0,0,0,1,0,1,0,0,0,0
2,2,31,10,1,1,41890,0,23,1,3,...,0,0,0,0,1,0,1,1,0,0
3,3,32,17,4,4,193280,1,15,3,2,...,0,1,0,1,0,1,0,0,0,0
5,4,38,2,5,3,83210,3,11,3,5,...,0,0,0,1,0,1,0,0,0,0
7,5,32,10,1,1,23420,4,12,2,2,...,1,0,0,0,1,1,0,0,0,0

In [15]:
X1= X_train_dummies.loc[:,~X_train_dummies.columns.isin(['EmployeeID'])]

In [16]:
# Escalado de datos de train (2015)
scaler=StandardScaler()
scaler.fit(X1)
X_std=scaler.transform(X1)
X_train_std=pd.DataFrame(X_std,columns=X1.columns)
X_train_std

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsSinceLastPromotion,...,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,MaritalStatus_Single,retirementType_Not Applicable,retirementType_Resignation,resignationReason_Others,resignationReason_Salary,resignationReason_Stress
0,1.541369,-0.393938,-0.891688,-0.961486,1.405136,-0.678464,-1.150554,-0.932014,2.483396,-0.679146,...,-0.679141,-0.243059,-0.314093,1.088232,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
1,-0.648668,0.099639,-1.868426,-0.961486,-0.491661,-1.079486,2.129306,0.241988,0.155707,-0.368715,...,-0.679141,-0.243059,-0.314093,-0.918921,1.458650,-2.405123,2.557042,3.728089,-0.202066,-0.164361
2,-0.539166,0.963398,1.061787,1.749610,2.725053,-0.678464,-0.057267,2.589994,-0.620189,-0.679146,...,-0.679141,4.114223,-0.314093,1.088232,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
3,0.117845,-0.887515,2.038524,0.845911,0.386301,0.123580,-1.150554,2.589994,1.707500,1.493867,...,-0.679141,-0.243059,-0.314093,1.088232,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
4,-0.539166,0.099639,-1.868426,-0.961486,-0.884109,0.524602,-0.877232,1.415991,-0.620189,-0.679146,...,1.472448,-0.243059,-0.314093,-0.918921,1.458650,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,0.555852,-0.517332,1.061787,-0.961486,-0.100700,0.123580,0.489376,0.241988,1.707500,-0.679146,...,1.472448,-0.243059,-0.314093,-0.918921,1.458650,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
4406,-0.867672,-0.887515,1.061787,-0.961486,-0.812504,-0.277442,-0.057267,-0.932014,-0.620189,-0.679146,...,1.472448,-0.243059,-0.314093,-0.918921,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
4407,-1.305679,1.950552,-0.891688,-0.057788,-0.595138,-1.079486,1.309341,-0.932014,0.931603,-0.368715,...,-0.679141,-0.243059,-0.314093,1.088232,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
4408,0.555852,1.086793,-0.891688,-0.961486,-0.872210,-1.079486,-0.330589,0.241988,-0.620189,1.493867,...,1.472448,-0.243059,-0.314093,-0.918921,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361
4409,0.336849,2.320735,0.085049,-0.057788,-0.219901,-1.079486,-0.877232,-0.932014,2.483396,0.252146,...,1.472448,-0.243059,-0.314093,-0.918921,-0.685565,0.415779,-0.391077,-0.268234,-0.202066,-0.164361

In [17]:
mcla = LogisticRegression()
mdtc= DecisionTreeClassifier()
mrfc= RandomForestClassifier()
mgbc=GradientBoostingClassifier()
modelos= [mcla, mdtc, mrfc, mgbc]
var_names=funciones.sel_variables(modelos, X_train_std, y_train, threshold=0.07)
var_names.shape

(15,)

In [18]:
X2=X_train_std[var_names] ### matriz con variables seleccionadas
X2.info()
X_train_std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               4410 non-null   float64
 1   BusinessTravel_Travel_Frequently  4410 non-null   float64
 2   EducationField_Medical            4410 non-null   float64
 3   EducationField_Other              4410 non-null   float64
 4   EducationField_Technical Degree   4410 non-null   float64
 5   EnvironmentSatisfaction           4410 non-null   float64
 6   JobSatisfaction                   4410 non-null   float64
 7   MaritalStatus_Single              4410 non-null   float64
 8   MonthlyIncome                     4410 non-null   float64
 9   PercentSalaryHike                 4410 non-null   float64
 10  resignationReason_Others          4410 non-null   float64
 11  resignationReason_Salary          4410 non-null   float64
 12  resignationReason_Stress          4410 non-null   float64
 13  retirementType_Not Applicable     4410 non-null   float64
 14  retirementType_Resignation        4410 non-null   float64
dtypes: float64(15)
memory usage: 516.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   float64
 1   DistanceFromHome                   4410 non-null   float64
 2   Education                          4410 non-null   float64
 3   JobLevel                           4410 non-null   float64
 4   MonthlyIncome                      4410 non-null   float64
 5   NumCompaniesWorked                 4410 non-null   float64
 6   PercentSalaryHike                  4410 non-null   float64
 7   StockOptionLevel                   4410 non-null   float64
 8   TrainingTimesLastYear              4410 non-null   float64
 9   YearsSinceLastPromotion            4410 non-null   float64
 10  EnvironmentSatisfaction            4410 non-null   float64
 11  JobSatisfaction                    4410 non-null   float64
 12  WorkLifeBalance                    4410 non-null   float64
 13  JobInvolvement                     4410 non-null   float64
 14  BusinessTravel_Travel_Frequently   4410 non-null   float64
 15  BusinessTravel_Travel_Rarely       4410 non-null   float64
 16  Department_Research & Development  4410 non-null   float64
 17  Department_Sales                   4410 non-null   float64
 18  EducationField_Life Sciences       4410 non-null   float64
 19  EducationField_Marketing           4410 non-null   float64
 20  EducationField_Medical             4410 non-null   float64
 21  EducationField_Other               4410 non-null   float64
 22  EducationField_Technical Degree    4410 non-null   float64
 23  MaritalStatus_Married              4410 non-null   float64
 24  MaritalStatus_Single               4410 non-null   float64
 25  retirementType_Not Applicable      4410 non-null   float64
 26  retirementType_Resignation         4410 non-null   float64
 27  resignationReason_Others           4410 non-null   float64
 28  resignationReason_Salary           4410 non-null   float64
 29  resignationReason_Stress           4410 non-null   float64
dtypes: float64(30)
memory usage: 1.0 MB

In [19]:
accuracy_df_original=funciones.medir_modelos(modelos,"accuracy",X_train_std,y_train,4) ## base con todas las variables 
accuracy_varsel=funciones.medir_modelos(modelos,"accuracy",X2,y_train,4) ### base con variables seleccionadas

In [20]:
pd.set_option('display.float_format', lambda x: '%.4f' % x)
accuracy=pd.concat([accuracy_df_original,accuracy_varsel],axis=1)
accuracy.columns=['rl', 'dt', 'rf', 'gb',
       'rl_Sel', 'dt_sel', 'rf_sel', 'gb_Sel']
accuracy

      rl     dt     rf     gb  rl_Sel  dt_sel  rf_sel  gb_Sel
0 1.0000 1.0000 1.0000 1.0000  1.0000  1.0000  1.0000  1.0000
1 1.0000 1.0000 1.0000 1.0000  1.0000  1.0000  1.0000  1.0000
2 1.0000 1.0000 1.0000 1.0000  1.0000  1.0000  1.0000  1.0000
3 1.0000 1.0000 1.0000 1.0000  1.0000  1.0000  1.0000  1.0000

In [41]:
# Select from model con Lasso (alpha = 0.0005)

# Selector de variables con Lasso
sel_ = SelectFromModel(Lasso(alpha=0.000000001)) #max_features=40)
sel_.fit(X_train_std, y_train)
print(sel_.estimator_.coef_)

#Obtener variables seleccionadas
X_new_class = sel_.get_support()

X_train_std_1 = X_train_std.iloc[:,X_new_class]
X_train_std_1

[ 7.62726189e-06 -1.19436227e-05  6.71059321e-06  3.46519865e-06
 -2.11987762e-06  3.01123365e-06  1.87233969e-06  1.67158619e-07
  3.40876123e-06  4.07323669e-06 -4.11977569e-06  3.79524788e-06
 -4.97170848e-06  5.85994423e-06  4.55300554e-06 -7.93168064e-06
  3.63996110e-04  3.66524593e-04 -1.03183440e-03 -6.62450474e-04
 -9.58841610e-04 -4.71707678e-04 -5.88066684e-04  1.06004246e-05
  6.65127676e-06 -3.54477762e-01  5.92540041e-06  3.46827703e-06
 -2.96095484e-06 -1.49683796e-06]

,DistanceFromHome,Department_Research & Development,Department_Sales,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Married,retirementType_Not Applicable
0,-0.3939,-1.3741,1.5152,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,0.4158
1,0.0996,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,-0.9189,-2.4051
2,0.9634,0.7278,-0.6600,-0.8375,-0.3483,-0.6791,4.1142,-0.3141,1.0882,0.4158
3,-0.8875,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,0.4158
4,0.0996,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
...,...,...,...,...,...,...,...,...,...,...
4405,-0.5173,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
4406,-0.8875,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
4407,1.9506,0.7278,-0.6600,1.1940,-0.3483,-0.6791,-0.2431,-0.3141,1.0882,0.4158
4408,1.0868,-1.3741,1.5152,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158
4409,2.3207,0.7278,-0.6600,-0.8375,-0.3483,1.4724,-0.2431,-0.3141,-0.9189,0.4158

In [51]:
names=sel_.feature_names_in_
coef=sel_.estimator_.coef_

df=pd.DataFrame(names)
df['coef']=coef

df.sort_values(by='coef', ascending=False)

                                    0    coef
17                   Department_Sales  0.0004
16  Department_Research & Development  0.0004
23              MaritalStatus_Married  0.0000
0                                 Age  0.0000
2                           Education  0.0000
24               MaritalStatus_Single  0.0000
26         retirementType_Resignation  0.0000
13                     JobInvolvement  0.0000
14   BusinessTravel_Travel_Frequently  0.0000
9             YearsSinceLastPromotion  0.0000
11                    JobSatisfaction  0.0000
27           resignationReason_Others  0.0000
3                            JobLevel  0.0000
8               TrainingTimesLastYear  0.0000
5                  NumCompaniesWorked  0.0000
6                   PercentSalaryHike  0.0000
7                    StockOptionLevel  0.0000
29           resignationReason_Stress -0.0000
4                       MonthlyIncome -0.0000
28           resignationReason_Salary -0.0000
10            EnvironmentSatisfaction -0.0000
12                    WorkLifeBalance -0.0000
15       BusinessTravel_Travel_Rarely -0.0000
1                    DistanceFromHome -0.0000
21               EducationField_Other -0.0005
22    EducationField_Technical Degree -0.0006
19           EducationField_Marketing -0.0007
20             EducationField_Medical -0.0010
18       EducationField_Life Sciences -0.0010
25      retirementType_Not Applicable -0.3545

In [35]:
# Ajustar el modelo a los datos
mcla.fit(X_train_std_1, y_train)

LogisticRegression()

In [36]:
print ("Train - Accuracy :", metrics.accuracy_score(y_train, mcla.predict(X_train_std_1)))
print ("Train - classification report:\n", metrics.classification_report(y_train, mcla.predict(X_train_std_1)))

Train - Accuracy : 1.0
Train - classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3760
           1       1.00      1.00      1.00       650

    accuracy                           1.00      4410
   macro avg       1.00      1.00      1.00      4410
weighted avg       1.00      1.00      1.00      4410